# Dépendances
node_modules
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnement
.env
.env.*
!.env.example

# Production
dist
dist-ssr
*.local
build

# Editeur
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fichiers temporaires
.DS_Store
Thumbs.db

# Cache
.turbo
.vercel
.next
.cache
public/build
api/index.js

# Foundry
out/
cache/

# Données locales
*.dump
*.sqlite
*.db

# npm
.npmrc

# Couverture de test
coverage/
